---
import { withBase } from '../../lib/href';
const target = withBase('/docs/latest/');
return Astro.rewrite(target);
---
<meta http-equiv="refresh" content={`0; url=${target}`} />
<a href={target}>Continue to the documentation</a>
